/* body {
  text-decoration: none;
} */
a:hover {
  color: #9cf49c;
}

.navigation {
  background-color: #fff;
  padding: 50px;
}

.nav-options {
  padding: 5px;
  padding-top: 0;
  color: white;
  text-decoration: none;
}

.nav-options:hover {
  color: #9cf49c;
  text-decoration-color:#9cf49c;
}

.title {
  background-color: #32CD32;
  padding: 100px;
  padding-bottom: 85px;
}

.heading {
  padding: 60px;
}

.title-name {
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  width: 550px;
  align-content: center;
}

.img-of-group {
  height: 400px;
  border-radius: 60px;
  border-style: solid;
  border-width: 10px;
  border-color: green;

}

.heading-image {
  padding: 70px;
}

.logo {
  height: 110px;
  width: auto;
  padding-top: 20px;
}

.about {
  text-align: center;
  /* background-color: #9cf49c; */
}

.about-us {
  color: #3c3c3c;
  padding: 25px;
  font-size: 50px;
  font-weight: bolder;
}

.para-about-us {
  padding: 200px;
  padding-top: 0;
  font-size: 25px;
  font-weight: lighter;
  color: #5b5b5b;
}

.socials {
  text-align: center;
  padding: 100px;
  padding-bottom: 80px;
  background-color: #32CD32;
}

.social-icon {
  padding: 10px;
  color: black;
}

.social-icon:hover {
  color: #5b5b5b;
}
